/* Radix Colors official light palettes, retrieved 2026-09-24.
 * Source: https://raw.githubusercontent.com/radix-ui/colors/main/src/light.ts
 * MIT license; see THIRD-PARTY-NOTICES.txt. Values are unmodified. */
:root {
  --radix-sand-1: #fdfdfc;
  --radix-sand-2: #f9f9f8;
  --radix-sand-3: #f1f0ef;
  --radix-sand-4: #e9e8e6;
  --radix-sand-5: #e2e1de;
  --radix-sand-6: #dad9d6;
  --radix-sand-7: #cfceca;
  --radix-sand-8: #bcbbb5;
  --radix-sand-9: #8d8d86;
  --radix-sand-10: #82827c;
  --radix-sand-11: #63635e;
  --radix-sand-12: #21201c;
  --radix-sand-a1: #55550003;
  --radix-sand-a2: #25250007;
  --radix-sand-a3: #20100010;
  --radix-sand-a4: #1f150019;
  --radix-sand-a5: #1f180021;
  --radix-sand-a6: #19130029;
  --radix-sand-a7: #19140035;
  --radix-sand-a8: #1915014a;
  --radix-sand-a9: #0f0f0079;
  --radix-sand-a10: #0c0c0083;
  --radix-sand-a11: #080800a1;
  --radix-sand-a12: #060500e3;
  --radix-bronze-1: #fdfcfc;
  --radix-bronze-2: #fdf7f5;
  --radix-bronze-3: #f6edea;
  --radix-bronze-4: #efe4df;
  --radix-bronze-5: #e7d9d3;
  --radix-bronze-6: #dfcdc5;
  --radix-bronze-7: #d3bcb3;
  --radix-bronze-8: #c2a499;
  --radix-bronze-9: #a18072;
  --radix-bronze-10: #957468;
  --radix-bronze-11: #7d5e54;
  --radix-bronze-12: #43302b;
  --radix-bronze-a1: #55000003;
  --radix-bronze-a2: #cc33000a;
  --radix-bronze-a3: #92250015;
  --radix-bronze-a4: #80280020;
  --radix-bronze-a5: #7423002c;
  --radix-bronze-a6: #7324003a;
  --radix-bronze-a7: #6c1f004c;
  --radix-bronze-a8: #671c0066;
  --radix-bronze-a9: #551a008d;
  --radix-bronze-a10: #4c150097;
  --radix-bronze-a11: #3d0f00ab;
  --radix-bronze-a12: #1d0600d4;
  --radix-green-1: #fbfefc;
  --radix-green-2: #f4fbf6;
  --radix-green-3: #e6f6eb;
  --radix-green-4: #d6f1df;
  --radix-green-5: #c4e8d1;
  --radix-green-6: #adddc0;
  --radix-green-7: #8eceaa;
  --radix-green-8: #5bb98b;
  --radix-green-9: #30a46c;
  --radix-green-10: #2b9a66;
  --radix-green-11: #218358;
  --radix-green-12: #193b2d;
  --radix-green-a1: #00c04004;
  --radix-green-a2: #00a32f0b;
  --radix-green-a3: #00a43319;
  --radix-green-a4: #00a83829;
  --radix-green-a5: #019c393b;
  --radix-green-a6: #00963c52;
  --radix-green-a7: #00914071;
  --radix-green-a8: #00924ba4;
  --radix-green-a9: #008f4acf;
  --radix-green-a10: #008647d4;
  --radix-green-a11: #00713fde;
  --radix-green-a12: #002616e6;
  --radix-amber-1: #fefdfb;
  --radix-amber-2: #fefbe9;
  --radix-amber-3: #fff7c2;
  --radix-amber-4: #ffee9c;
  --radix-amber-5: #fbe577;
  --radix-amber-6: #f3d673;
  --radix-amber-7: #e9c162;
  --radix-amber-8: #e2a336;
  --radix-amber-9: #ffc53d;
  --radix-amber-10: #ffba18;
  --radix-amber-11: #ab6400;
  --radix-amber-12: #4f3422;
  --radix-amber-a1: #c0800004;
  --radix-amber-a2: #f4d10016;
  --radix-amber-a3: #ffde003d;
  --radix-amber-a4: #ffd40063;
  --radix-amber-a5: #f8cf0088;
  --radix-amber-a6: #eab5008c;
  --radix-amber-a7: #dc9b009d;
  --radix-amber-a8: #da8a00c9;
  --radix-amber-a9: #ffb300c2;
  --radix-amber-a10: #ffb300e7;
  --radix-amber-a11: #ab6400;
  --radix-amber-a12: #341500dd;
  --radix-red-1: #fffcfc;
  --radix-red-2: #fff7f7;
  --radix-red-3: #feebec;
  --radix-red-4: #ffdbdc;
  --radix-red-5: #ffcdce;
  --radix-red-6: #fdbdbe;
  --radix-red-7: #f4a9aa;
  --radix-red-8: #eb8e90;
  --radix-red-9: #e5484d;
  --radix-red-10: #dc3e42;
  --radix-red-11: #ce2c31;
  --radix-red-12: #641723;
  --radix-red-a1: #ff000003;
  --radix-red-a2: #ff000008;
  --radix-red-a3: #f3000d14;
  --radix-red-a4: #ff000824;
  --radix-red-a5: #ff000632;
  --radix-red-a6: #f8000442;
  --radix-red-a7: #df000356;
  --radix-red-a8: #d2000571;
  --radix-red-a9: #db0007b7;
  --radix-red-a10: #d10005c1;
  --radix-red-a11: #c40006d3;
  --radix-red-a12: #55000de8;
}
